<h1> Sign in</h1>

<%= form_with url:sign_in_path ,data: { turbo: false } do |form| %>
   <div class="mb-3">
   <%=form.label :Email %>
 <%=form.text_field :email, class:"form-control", placeholder:"stevejobs@apple.com" %>
 </div>
 <div class="mb-3">
  <%=form.label :Password %>
 <%=form.password_field :password , class:"form-control", placeholder:"password"%>
 <%=link_to "Forgot your Password?",password_reset_path%>
 <ul>
 
 <%
=begin%>
 <%=link_to "Not Registered? Sign up here",sign_up_path%> 
<%
=end%>

 </ul>
 </div>

 <div class="mb-3">
  <%=form.submit :"Sign In", class:"btn btn-primary" %>
 
 </div>

<%end%>