<h1> Edit Card</h1>

<%= form_with model:@cardz, url:cardz_edit_path,data: { turbo: false } do |form| %>
   <div class="mb-3">
   <%=form.label :Title %>
 <%=form.text_field :title, class:"form-control", placeholder:"abc" %>
 </div>
 <div class="mb-3">
  <%=form.label :Content %>
 <%=form.text_field :content, class:"form-control", placeholder:"xyz"%>
 </div>
 <div class="mb-3">
  <%= form.submit :"Update Card", class:"btn btn-primary" %>
 
 </div>
<%end%>